<nav class="bottom-nav">
  <ul>
    <li>
        <a href="#">
            <img src="/assets/logo.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/assets/group.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/assets/user.svg">
        </a>
    </li>
  </ul>
</nav>
