<nav class="top-nav">
  <ul class="nav-layout">
    <li>
        <details class="snappmaps-list">
            <summary>{{ title }}</summary>
            <ul>

                {% for snappmap in allSnappmaps %}
                    <li><a href="/snappmaps/{{ snappmap.uuid }}">{{ snappmap.name }}</a></li>
                {% endfor %}
            </ul>

        </details>
    </li>
    <li>
        <button>
            <img src="/assets/grid-white.svg">
        </button>
    </li>
  </ul>
</nav>
