<nav class="top-nav">
  <ul>
    <li>
        <button>
            playful
        </button>
    </li>
    <li>
        <button>
            <img src="/assets/grid-white.svg">
        </button>
    </li>
  </ul>
</nav>
