{% render 'partials/head.liquid', title: 'Homepage' %}

<main>
{% render 'partials/top-navigation.liquid' %}

  <ul class="grid-view">
    {% for snappmap in snappmaps %}
      {% for snap in snappmap.snaps %}
        {% if snap.picture != null %}
          <li>
            <a href="/snapmap/{{ snap.uuid }}">
                <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture }}" loading="lazy">
            </a>
          </li>
        {% else %}
          <li>
            <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" loading="lazy">
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  {% render 'partials/bottom-navigation.liquid' %}
</main>
