<h1>
    Tijdelijke homepage
</h1>
<ul>
    {% for snappmap in allSnappmaps %}
        <li>
            <a href="/snappmaps/{{ snappmap.uuid }}">{{ snappmap.name }}</a>
        </li>
    {% endfor %}
</ul>