{% render 'partials/head.liquid', title: 'Homepage' %}

{% render 'partials/top-navigation.liquid' %}
<main>
  <section class="details-section">
    <a href="/">terug naar home</a>
    <ul>
      <li>
        <a href="#">{{ snappmap[0].name }}</a>
      </li>
      <li>
        <a href="#">{{ snap.location }}</a>
      </li>
      <li>
        <a href="#">{{ user.name }}</a>
      </li>
    </ul>
    <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture }}">
  </section>
</main>
{% render 'partials/bottom-navigation.liquid' %}
