*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BariolReg';
    src: url('fonts/Bariol_Regular.otf');
}

:root {
    --color-primary: #172F3B;
    --color-secondary: #fff;
    --bar-height: 9vh;

}

body {
    font-family: 'BariolReg';
}

li {
    list-style: none;
}

img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

ul.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 0.5%;
    row-gap: 0;
}

nav {
    height: var(--bar-height);
    background-color: var(--color-primary);

    &.bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        ul {
            display: flex;
            justify-content: center;
            gap: 15%;
            height: 100%;

            a {
                display: flex;
                align-items: center;
                height: 100%;

                img {
                    height: 36%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    &.top-nav {
        position: sticky;
        top: 0;
        border-bottom: 1px solid var(--color-secondary);

        ul.nav-layout {
            display: grid;
            grid-template-columns: 10rem 1fr 10rem;
            place-content: center;
            height: 100%;

            position: relative;

            >li:nth-of-type(1) {
                grid-column: 2/3;
                display: flex;

                justify-content: center;
                align-self: center;
            }

            >li:nth-of-type(2) {
                grid-column: 3/4;
                text-align: end;
                margin-right: 10%;
            }

        }
    }
}


details.snappmaps-list {

    summary {
        color: var(--color-secondary);
    }

    summary::-webkit-details-marker,
    summary::marker {
        content: "";
    }

    ul {
        position: absolute;
        top: 9vh;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


        li {
            height: var(--bar-height);
            width: 100%;
            background-color: var(--color-primary);
            display: flex;
            justify-content: center;
            align-items: center;

            border-bottom: 1px solid var(--color-secondary);

            &:last-of-type {
                border-bottom: none;
            }

            a {
                text-decoration: none;
                color: var(--color-secondary);
            }
        }
    }
}